body {
    width: 100%;
    background-color:#C9DFDA ;
    margin: 0%;
}
.part1 {
    background-image: url(fotos/office.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: fit-content
}
/*start header*/
#logo1 {
   width: 15%;
   margin: 2%;
}
.nav_bar {
    width: 100%;
    height: fit-content; 
}
.nav_elements {
    float: right;
    margin: 5%;
    font-size: 2.0vw;
}
.nav_elements a {
    text-decoration: none;
    color: black;
    padding: 30px;
    position: relative;
}
.nav_elements a:hover{
    text-decoration: underline;
}
#menu_icon {
    display: none;
}
.drop_down {
    display: none;
}
/*end header*/

/*welcome text start*/
.welcome_text {
    text-align: center; 
    margin-top: 100px;
    padding-bottom: 260px; 
}
#t1 {
    font-size: 500%;
    color: #5D00FF;
}
#t2 {
    font-size: 300%;
    color: #6A8BFF
}
/*welcome text end*/

/*mid text start*/
.text_mid {
    text-align: center;
}
#logo2 {
    width: 10%;
}
.text_content {
    font-size: 1.5vw;
}
#btn_join {
    margin: auto;
    font-size: 1.5vw;
    text-decoration: none;
    color: #5D00FF;
    background-color: #6A8BFF;
    padding: 5px;
    width: 25%;
    display: block;
    border-radius: 30px;
    border: 1px solid black;
}
#btn_join:hover {
    color: #6A8BFF;
    background-color: #5D00FF;
    border: 1px solid whitesmoke;
}

/*mid text end*/

/*part2 start*/
.part2 {
    width: 100%;
    height: fit-content;
    background-image: url(fotos/bkg_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 50px; 
}
.tiles a:hover {
    animation: breathing 0.5s ease-out normal;
    animation-fill-mode: forwards;
    box-shadow: none;
    
}
@keyframes breathing {
    0% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
    100% {
      -webkit-transform: scale(1.3);
      transform: scale(1.3);
    }
}
.tiles_frame {
    width: 50%;
    height: fit-content;
    margin: auto;
    padding: 3%;
    padding-left: 18%;
}
.tiles {
    width: 100%;
    margin: auto;
}
.tiles a {
    text-decoration: none;
    margin: 30px;
    display: inline-block;
    width: 15vw;
    height: 15vw; 
    border-radius: 5px;
    box-shadow: 5px 10px 5px #6A8BFF;
}


#tile_1 {
    background-image: url(fotos/how-it-works.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#tile_2{
    background-image: url(fotos/time.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#tile_3 {
    background-image: url(fotos/money.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#tile_4 {
    background-image: url(fotos/why-website.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.tile_text span {
    display: block;
    font-size: 1.8vw;
    text-align: center;
    border-radius: 5px;
    width: 100%;
    background-color: #c4c4c4a9;
    text-decoration: none;
    color: black;
    box-shadow: black -2px 7px 8px;
}
/*part2 end*/

/*footer start*/
.footer {
    width: 100%;
    height: fit-content;
    background:#5D00FF;
}
#logo_footer {
    width: 20%;
    padding: 12px;
}
.email-form {
    float: right;
    width: 30%;
    border-left: 2px solid black;
    font-size: 1.5vw;
    padding-top:20px ;
}
#email {
    font-size: 1.1vw;
}
#text {
    font-size: 1.1vw;
    padding-bottom: 15%;
    margin-top: 5%;
    margin-left: 8%;
    display: inline-block;
    margin-bottom: 20px;
}
.footer_list {
    font-size: 1.2vw;
    position: absolute;
    right: 50%;
    transform: translateX(-50%);
}
.footer_list li {
    padding-bottom: 30%;
}
.footer_list li a {
    color: black;
    text-decoration: none; 
}
.footer_list li a:hover {
    text-decoration: underline;
}
#copyright {
    width: fit-content;
    bottom: -30px;
    margin: auto;
}
#send_btn {
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: #6A8BFF;  
    width: 79%;
    display: block;
    margin: auto;
    border-radius: 20px;
}
#send_btn:hover {
    border: 2px solid whitesmoke;
    background-color: #6A8BFF;
}
/*footer end*/
