body {
    width: 100%;
    background-color:#C9DFDA ;
    margin: 0%;
    overflow-x: hidden;
}
.part1 {
    background-image: url(fotos/office.jpg);
    background-size: cover;
    height: 1024px ;
    background-repeat: no-repeat;
}
/*start header*/
#logo1 {
    width: 10%;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-left: 50px;
}
.nav_bar {
    height: 200px;
    position: relative;
}
.nav_elements {
    float: right;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0%;
    margin-right: 50px;
}
.nav_elements a:hover {
    text-decoration: underline;
}
.nav_elements a {
    text-decoration: none;
    color: black;
    margin: 50px;
    font-size: 2rem;
}/*end header*/

/*welcome text start*/
.welcome_text {
    text-align: center;
    height: 500px;  
    margin-top: 200px; 
}
#t1 {
    font-size: 500%;
    color: #5D00FF;
    margin: 0%;
}
#t2 {
    font-size: 300%;
    color: #6A8BFF;
    margin: auto;
    padding-top: 20px;
    width: fit-content;
    float: right;
    position: relative;
    right: 20%;

}
/*welcome text end*/

/*mit text start*/
.text_mid {
    text-align: center;
    margin-top: 130px;
    height: 450px;
}
.text_content {
    margin-bottom: 50px;
    font-size: 1.3rem;
}
#btn_join {
    font-size: 1.4rem;
    background-color: #6A8BFF;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px gray;  
    text-decoration: none; 
}
#btn_join:hover {
    border: 2px solid #5D00FF;
    font-size: 1.5rem;
}
/*mit text end*/

/*part2 start*/
.part2 { 
    height: 868px;;
    background-image: url(fotos/bkg_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 460px;  
}
.tiles {
    width: 100%;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);   
}
.tiles a {
    width: 15%;
    display: inline-block;
    text-align: center;
    margin: 50px;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 5px 5px 5px rgb(63, 63, 63);   
}
.tiles a span {
    text-decoration: none;
    color: black;
    font-size: 2.6rem;
    position: relative;
    background-color: rgb(179, 179, 179, .4);
    top: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    display: block;
    left: 175px;
}
.tiles a:hover {
    animation: breathing 0.5s ease-out normal;
    animation-fill-mode: forwards;
    box-shadow: none;
    
}
@keyframes breathing {
    0% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
    100% {
      -webkit-transform: scale(1.5);
      transform: scale(1.5);
    }
}
#tile_1 {
    background-image: url(fotos/how-it-works.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#tile_2{
    background-image: url(fotos/time.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#tile_3 {
    background-image: url(fotos/money.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#tile_4 {
    background-image: url(fotos/why-website.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


/*part2 end*/

/*footer start*/
.footer {
    width: 100%;
    height: 300px;
    background:#5D00FF;
}
#logo_footer {
    width: 20%;
    position: relative;
    top: 50px;
    left: 50px;
}
.email-form {
    float: right;
    width: 500px;
    padding-top: 50px;
}
.footer_list {
    float: right;
}
.footer_list a:hover {
    text-decoration: underline;
    color: blue;
}
.footer p { /*copyright text */
    width: fit-content;
    position: relative;
    top: 60px;
    margin: 0px;
    left: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%); 
    color: white; 
}
.footer_list {
    position: absolute;
    margin-top: 130px;
    right: 50%;
    transform: translateY(-50%);
}
.footer_list li a {
    text-decoration: none;
    color: white;
}
.footer_list li {
    font-size: 1.5rem;
    padding: 10px;
}
.email, .message {
    font-size: 1.3rem;
    color: white;
}
.email input {
    padding:5px;
    width: 60%;
}
.message input {
    width: 61%;
    height: 100px;
    margin-left: 30px;
    margin-top: 10px;
}
.email-form #send_btn {
    margin-top: 20px;
    margin-left: 115px;
    font-size: 1.4rem;
    border-radius: 20px;
    background-color: #6A8BFF;
    padding: 5px;
    width: 60%;
    box-sizing: content-box;
}
/*footer end*/
